{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}
    <p class="about">Hello! You might be wondering what this is. This website is an anonymous message board, where users can post messages anonymously(or drop their name if they prefer).</p>
    <p class="about">This website was originally created to learn about various concepts revolving around fullstack applications, like scalability, usage of databases, how things are deployed and how they interact with each other.</p>
    <p class="about">This site was developed by <a href='https://github.com/Mcube728'>Mcube728</a> using Python, Flask and MongoDB.</p>
{% endblock content %}