{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Posts{% endblock title %}</h2>
{% endblock header %}

{% block content %}
    {% for post in posts %}
        <article>
            <aside>{{ post["author"] }} &ensp; <i>{{ moment(post["created"]).format('DD/MM/YY (ddd) hh:mmA') }}</i></aside>
            <p class="message"> {{ post["message"] }}</p>
            <a href="{{ url_for('posts.reply', post_id=post['_id']) }}" class="reply">Reply</a> &ensp; <a href="{{ url_for('posts.replies', post_id=post['_id']) }}" class="reply">View Replies</a>
        </article>
    {% endfor %}
{% endblock content %}