*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

a,
a:visited {
  color: #007bff;
  text-decoration: none;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 7px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flash{
    padding: 20px;
    margin: 10px;
    width: 80%;
    border-radius: 5px;
}

.flash.error{
    background-color: #cc342b;
    color: white;
}

.flash.success{
    background-color: #198844;
    color: white;
}

main {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    width: 100%;
    font-size: 18px;
}

article{
    width: 70%; 
    padding: 0 40px;
    border: 1px solid #acacac;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

article aside{
    padding-bottom: 5px;
}

article .message{
    font-size: 22px;
}

form{
    width: 80%;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #acacac;
    border-radius: 15px;
}

.form-group{
    padding: 15px;
}

.form-control{
    width: 100%;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.submit-btn{
    color: white;
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.not-found-cat{
    width: 750px;
}

label{
    display: block;
    padding-bottom: 10px;
}

footer {
    bottom: 10px;
    width: 100%;
    margin-top: auto;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Media Queries */
@media (max-width: 760px){
    
    .wrapper{
        min-height: 90vh;
    }

    .about{
        width: 100%;
    }

    form{
        width: 100%;
        padding: 10px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #acacac;
        border-radius: 15px;
    }

    article{
        width: 100%;
    }
    
    article aside{
        margin-bottom: 5px;
        padding-bottom: 0px;
    }

    img {
        max-width: 95%;
        height: auto;
        margin: 0;
        background-size: contain;
    }
    article{
        padding-bottom: 25px;
    }
}
@media (max-width: 450px) {
    main{
        width: 90%;
    }

    article .message{
        font-size: 18px;
    }

    form{
        width: 100%;
    }
    /*img {
        max-width: 80%;
        height: auto;
        margin: 0;
        background-size: contain;
      }*/
}