*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

a,
a:visited {
  color: #007bff;
  text-decoration: none;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 7px;
}

main {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article{
    margin-bottom: 15px;
}

article .message{
    font-size: 22px;
}

form{
    width: 80%;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form-group{
    padding: 15px;
}

.form-control{
    width: 100%;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.submit-btn{
    color: white;
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

/* Media Queries */
@media (max-width: 450px) {
    main{
        width: 90%;
    }

    article .message{
        font-size: 18px;
    }

    form{
        width: 100%;
    }
    .not-found-cat{
        width: 90%;
    }
}